
$color-app-background: #f7f7eb;
$primary-font: 'Be Vietnam', sans-serif;
$color-success: #289e28;
$color-danger: #c93c3c;

@mixin flex-vertical {
    display: flex;
    flex-direction: column;
}

@mixin flex-horizontal {
    display: flex;
}


// Transactions form
.transactions-form{    
    width: 80%;
    
    .group-row{
        @include flex-horizontal;
        justify-content: space-between;
    }

    .group-btns{ 
        @include flex-horizontal();
        .btn{
            margin: 10px;
        }
    }

    .group{ 
        position:relative; 
        margin-bottom:45px; 
        width: 100%;
        input {
            font-size:18px;
            padding:10px 10px 10px 5px;
            display:block;
            width:300px;
            border:none;
            border-bottom:1px solid #757575;
            background-color: $color-app-background;
            &:focus { outline:none; }
            &:focus ~ label, &:valid ~ label {
                top:-20px;
                font-size:14px;
                color:#5264AE;
            }
            // active state
            &:focus ~ .bar:before, &:focus ~ .bar:after {
                width:50%;
            }  
            &:focus ~ .highlight {
                -webkit-animation:inputHighlighter 0.3s ease;
                -moz-animation:inputHighlighter 0.3s ease;
                animation:inputHighlighter 0.3s ease;
            }                     
        }  
        label {
            color:#999; 
            font-size:18px;
            font-weight:normal;
            position:absolute;
            pointer-events:none;
            font-family: $primary-font;
            left:5px;
            top:10px;
            transition:0.2s ease all; 
            -moz-transition:0.2s ease all; 
            -webkit-transition:0.2s ease all;
        }  
        .bar{
            position:relative; 
            display:block; 
            width:300px;
            &:before {
                left:50%;
            }
            &:after {
                right:50%; 
            }
            &:before, &:after{
                content:'';
                height:2px; 
                width:0;
                bottom:1px; 
                position:absolute;
                background:#5264AE; 
                transition:0.2s ease all; 
                -moz-transition:0.2s ease all; 
                -webkit-transition:0.2s ease all;
            }
        }
        
        // Highlight
        .highlight {
            position:absolute;
            height:60%; 
            width:100px; 
            top:25%; 
            left:0;
            pointer-events:none;
            opacity:0.5;
        }  
        
        .btn{
            @include flex-horizontal;
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 250px;
            border: 1.5px solid #333;
            font-size: 1em;
            background: $color-app-background;
            cursor: pointer;
        }

        .btn-save-transactions{
            &:hover{
                border: 1.5px solid $color-success;
                color:$color-success;
            }
        }

        .btn-cancel-transactions{
            &:hover{
                border: 1.5px solid $color-danger;
                color:$color-danger;
            }
        }

    }
    // INPUT ANIMATIONS
    @-webkit-keyframes inputHighlighter {
        from { background:#5264AE; }
        to 	{ width:0; background:transparent; }
    }

    @-moz-keyframes inputHighlighter {
        from { background:#5264AE; }
        to 	{ width:0; background:transparent; }
    }

    @keyframes inputHighlighter {
        from { background:#5264AE; }
        to{ width:0; background:transparent; }
    }
}