// TRANSACTIONS FORM STYLES *

// COLORS
$color-app-background: #f7f7eb;
$primary-font: 'Be Vietnam', sans-serif;
$color-success: #289e28;
$color-danger: #d32f2f;

// BREAKPOINTS
$mq-smartphones-portrait-landscape: "only screen and (min-device-width : 320px) and (max-device-width : 480px)";

@mixin flex-vertical {
    display: flex;
    flex-direction: column;
}

@mixin flex-horizontal {
    display: flex;
}


// Transactions form
.transactions-form{    
    width: 80%;
    // Smartphones media query
    @media #{$mq-smartphones-portrait-landscape} {
      width: 100%;
    }
    .group-row{
        @include flex-horizontal();
        justify-content: space-between;
        @media #{$mq-smartphones-portrait-landscape} {
          @include flex-vertical()
        }           
    }

    .group-btns{ 
        @include flex-horizontal();
        // Smartphones media query
        @media #{$mq-smartphones-portrait-landscape} {
          @include flex-vertical();
        }        
        .btn{
            margin: 10px;
            // Smartphones media query
            @media #{$mq-smartphones-portrait-landscape} {
              margin: 0 0 14px 0;
            }
        }
    }

    .group{ 
        position:relative; 
        margin-bottom:45px; 
        width: 100%;
        input {
            font-size:18px;
            padding:10px 10px 10px 5px;
            display:block;
            width:300px;
            border:none;
            border-bottom:1px solid #757575;
            background-color: $color-app-background;
            &:focus { outline:none; }
            &:focus ~ label, &:valid ~ label {
                top:-20px;
                font-size:14px;
                color:#5264AE;
            }
            // active state
            &:focus ~ .bar:before, &:focus ~ .bar:after {
                width:50%;
            }  
            &:focus ~ .highlight {
                -webkit-animation:inputHighlighter 0.3s ease;
                -moz-animation:inputHighlighter 0.3s ease;
                animation:inputHighlighter 0.3s ease;
            }                     
        }  
        label {
            color:#999; 
            font-size:18px;
            font-weight:normal;
            position:absolute;
            pointer-events:none;
            font-family: $primary-font;
            left:5px;
            top:10px;
            transition:0.2s ease all; 
            -moz-transition:0.2s ease all; 
            -webkit-transition:0.2s ease all;
        }  
        .bar{
            position:relative; 
            display:block; 
            width:300px;
            &:before {
                left:50%;
            }
            &:after {
                right:50%; 
            }
            &:before, &:after{
                content:'';
                height:2px; 
                width:0;
                bottom:1px; 
                position:absolute;
                background:#5264AE; 
                transition:0.2s ease all; 
                -moz-transition:0.2s ease all; 
                -webkit-transition:0.2s ease all;
            }
        }
        
        // Highlight
        .highlight {
            position:absolute;
            height:60%; 
            width:100px; 
            top:25%; 
            left:0;
            pointer-events:none;
            opacity:0.5;
        }  
        
        .btn{
            @include flex-horizontal();
            align-items: center;
            justify-content: center;
            height: 50px;
            width: 250px;
            border: 1.5px solid #333;
            font-size: 1em;
            background: $color-app-background;
            cursor: pointer;
            // Smartphones media query
            @media #{$mq-smartphones-portrait-landscape} {
              width: 100%;
            }
        }

        .btn-save-transactions{
            &:hover{
                border: 1.5px solid $color-success;
                color:$color-success;
            }
        }

        .btn-cancel-transactions{
            &:hover{
                border: 1.5px solid $color-danger;
                color:$color-danger;
            }
        }

    }
    // INPUT ANIMATIONS
    @-webkit-keyframes inputHighlighter {
        from { background:#5264AE; }
        to 	{ width:0; background:transparent; }
    }

    @-moz-keyframes inputHighlighter {
        from { background:#5264AE; }
        to 	{ width:0; background:transparent; }
    }

    @keyframes inputHighlighter {
        from { background:#5264AE; }
        to{ width:0; background:transparent; }
    }
}

// Toggle component
.group.group-toogle-type{
    position: relative;

    &:hover{
        input{
            color: purple;
        }
    }
    .toggle-thrigger{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30px;
        cursor: pointer;
        z-index: 300;
    }
    input{
        cursor: pointer;
    }
}
