// * Spartphones 
$mq-smartphones-portrait-landscape: "only screen and (min-device-width : 320px) and (max-device-width : 1024px)";

@mixin flex-vertical {
  display: flex;
  flex-direction: column;
}

@mixin flex-horizontal {
  display: flex;
}

.mobile-menu{
    display: none;
    width: 100%;
    @media #{$mq-smartphones-portrait-landscape} {
        display: flex;
        position: absolute;
        top: 0;
        left:0;
    }   
    
    .mobile-menu-header{
        display: flex;
        align-items: center;
        width: 100%;
        height: 40px;
        background: #333;
        color: white;

        .mobile-menu-thrigger{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 40px;
            height: 40px;
            cursor: pointer;
        }

        .view-title{
            margin: 0;
            padding: 0 10px;
            font-family: sans-serif;
            font-size: 1em;
            font-weight: normal;
        }
    }     
    nav.active{
        @include flex-vertical();
        left: 0;
        animation-name: mobileMenuOpen;
        animation-duration: 0.2s; /* or: Xms */
        animation-direction: normal; /* or: normal */
        animation-timing-function: ease-out; /* or: ease, ease-in, ease-in-out, linear, cubic-bezier(x1, y1, x2, y2) */
        animation-fill-mode: forwards; /* or: backwards, both, none */        
    }
    nav{
        display: none;
        width: 80%;
        height: 100vh;
        position: absolute;
        top: 40px;
        left: -100vw;
        z-index: 1000;
        background: #333;
        transition: all ease 0.4s;
        animation-name: mobileMenuOpen;
        ul{
            display: flex;
            flex-direction: column;
            width:100%;
            margin: 0;
            padding: 0;
            list-style: none;
            li{
                display: flex;
                flex-direction: column;
                align-items: center;
                padding: 10px;
                width: 100%;
                height: 50px;
                border-bottom: 0.5px solid black;
                a{
                    display:flex;
                    align-items: center;
                    font-family: sans-serif;
                    color: white;
                    text-decoration: none;
                    cursor: pointer;
                    width: 100%;
                    height: 40px;
                    span{
                      margin-left: 10px;
                    }
                }
            }
        }

        .user-profile{
          margin-top: 30px;
          width: 100%;
          @include flex-horizontal;
          padding: 10px;
          color: white;
          .user-photo{
              display: flex;
              width: 80px;
              height: 80px;
              border-radius: 50%;
              background-color: #ccc;
              filter: grayscale(20%);
              background-size: 110%;
              background-position: center;
              background-repeat: no-repeat;
              align-self: auto;
              flex-shrink: 0;
              border: 2px solid white;
          }
  
          .user-info{
              @include flex-vertical();
              justify-content: center;
              margin-left: 10px;
              h2{
                  font-size: 1em;
                  margin: 0;
                  padding: 0;
              }
              span{
                font-size: 0.8em;
              }
          }
      }        
        
    }
}

@-webkit-keyframes mobileMenuOpen {
  0%   { left: -100vw; }
  100% { left: 0; }
}
@-moz-keyframes mobileMenuOpen {
  0%   { left: -100vw; }
  100% { left: 0; }
}
@keyframes mobileMenuOpen {
  0%   { left: -100vw; }
  100% { left: 0; }
}

@-webkit-keyframes mobileMenuClose {
  0%   { left: 0; }
  100% { 
    left: -100vw;
    display: none;
  }
}
@-moz-keyframes mobileMenuClose {
  0%   { left: 0; }
  100% { 
    left: -100vw;
    display: none;
  }
}
@keyframes mobileMenuClose {
  0%   { left: 0; }
    100% { 
    left: -100vw;
    display: none;
  }
}
